
.badge {
	display: inline-block;
	margin: .25em;
	padding: .5em;
	border-radius: .5em;
	border: 2px solid gray;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-size: 25%;
	width: 30em;
	overflow: hidden;
}
.badge .description {
	font-size: 80%;
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: right;
}

.badge.default {
	background-image: linear-gradient(-70deg, transparent 0%,transparent 20%, #0002 50%, transparent 80%,transparent 100%);
	background-color: #893;
	background-position-x: var(--pgs);
}
.badge.bronze {
	background-image: linear-gradient(-60deg, transparent 0%,transparent 22.5%, #0003 50%, transparent 77.5%,transparent 100%);
	background-color: #CD7F32;
	background-position-x: var(--pgs);
}
.badge.silver {
	background-image: linear-gradient(-55deg, transparent 0%,transparent 25%, #FFF4 50%, transparent 75%,transparent 100%);
	background-color: silver;
	background-position-x: var(--pgs);
}
.badge.gold {
	border-color: goldenrod;
	background-image: linear-gradient(-50deg, transparent 0%,transparent 30%, #FFF8 50%, transparent 70%,transparent 100%);
	background-color: gold;
	background-position-x: var(--pgs);
}
.badge.platinum {
	border-color: white;
	background-image: linear-gradient(-45deg, transparent 0%,transparent 35%, #FFF5 50%, transparent 65%,transparent 100%);
	background-color: #ACE;
	animation-duration: 2s;
	box-shadow: 0 0 5px 1px #ACE;
}

/* Progress */

.badge .grades {
	position: relative;
	width: calc(100% + .8em);
	margin: .3em 0 -.5em -.5em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	filter: drop-shadow(0 0 5px black);
	border-right: .2em solid #ACE; /* Rightmost border platinum color */
}
.badge .grades .progress.default {--progress-color: #893;}
.badge .grades .progress.bronze {--progress-color: #B62;}
.badge .grades .progress.silver {--progress-color: #DDD;}
.badge .grades .progress.gold {--progress-color: #DA0;}
.grades .progress {
	font-size: 66.67%;
	text-align: right;
	border-left: .25em solid var(--progress-color);
	padding-right: .5em;
	white-space: nowrap;
	margin-left: -.25em;
}
.badge .grades .progress {
	background-image: linear-gradient(90deg, var(--progress-color) var(--progress), #0000 var(--progress));
}

.badge .progress.default {flex:1;}
.badge .progress.bronze  {flex:2;}
.badge .progress.silver  {flex:3;}
.badge .progress.gold    {flex:4;}

@keyframes AnimatedShine {
	0%{background-position-x:-100%}
	100%{background-position-x:200%}
}
