:root {
	--color-background-graph: white;
	--color-background-header: rgb(255, 200, 0);
	--color-text-header: rgba(0, 0, 0, 0.87);
	--color-background-warn: rgb(18, 130, 178);
	--color-text-warn: white;
}

#contentBody {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.graphBlock {
	height: calc(100vh - var(--header-height) - var(--header-height) - 2em);
	aspect-ratio: 1;
	flex: 0;
	display: flex;
	flex-direction: column;
}
#graph {
	background: var(--color-background-graph);
	width: 100%;
	flex: 1;
	border-radius: .5em;
}
.vid_node {
	cursor: grab;
}
.vid_node:active {
	cursor: grabbing;
}


@media (max-width: 90vh) {
	#contentBody {
		flex-direction: column;
	}
	.graphBlock {
		flex: 1;
		height: unset;
		width: 100%;
	}
}

#actions {
	flex: 1;
}
#actions > button {
	display: block;
}

#stats {
	margin: .5em;
	display: inline-block;
	min-width: 20em;
	min-height: 100%;
	flex: 1;
}

.status {
	background: #727272;
	color: var(--color-text-warn);
	padding: .25em;
	border-radius: .25em;
}
.status.error {
	background: #B24211;
}
.status.success {
	background: #60A108;
}
.status.working {
	background: linear-gradient(-45deg, #1282B2, #1282B2, #4211B2, #1282B2, #1282B2);
	background-size: 25%;
	background-position-x: 0;
	animation: AnimatedBackgroundPosition 5s linear infinite;
}
@keyframes AnimatedBackgroundPosition {
	0%{background-position-x:0%}
	100%{background-position-x:100%}
}
